[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/SDL_image"]
	path = thirdparty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
